ENV=dev # dev | prod

# nginx
NGINX_PORT=80

# db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0

# kafka
KAFKA_PORT=9092

# gateway
GATEWAY_PORT=8080

# services
AUTH_PORT=50001